<nav>
	<mat-toolbar style="background-color: #444; color: whitesmoke;">
		<img src="/assets/elektroform-logo-white.svg"/>
		<span class="spacer"></span>
		<button mat-stroked-button [matMenuTriggerFor]="languageMenu">
			<span i18n>{{ language != null ? language : "Sprache" }}</span>
		</button>
		<mat-menu #languageMenu="matMenu" xPosition="before">
			<button mat-menu-item *ngFor="let language of languages" (click)="changeLanguage(language)">{{language}}</button>
		</mat-menu>
	</mat-toolbar>
</nav>
