<mat-toolbar class="theme">
	<div style="display: flex; flex-flow: row; justify-content: center; width: 100%;">
		<div>
			<!-- <a href="https://www.brunnerinformatik.ch">
				<img src="/assets/BI_Logo.svg" height="48" alt="Brunner Informatik AG"/>
			</a> -->
		</div>
		<div style="display: flex; flex-wrap: wrap; align-items: center;font-size: small;">
			<span style="margin-right: 0.5rem;">&copy; 2020 Brunner Informatik AG</span>
			<span style="margin-right: 0.5rem;">Worblaufenstrasse 163</span>
			<span style="margin-right: 0.5rem;">CH-3048 Worblaufen</span>
			<span style="margin-right: 0.5rem;">
				<span>Telefon: </span>
				<span style="white-space: nowrap;">+41 (0) 31 917 10 33</span>
			</span>
		</div>
	</div>
</mat-toolbar>
