<mat-toolbar-row>
	<button mat-icon-button (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	</button>
	<span>ElektroForm Projekte</span>
	<span class="menu-spacer"></span>
	<button mat-icon-button  routerLink="/projektliste1">
		<mat-icon>arrow_upward</mat-icon>
	</button>
</mat-toolbar-row>
<mat-drawer-container style="height: 100%;">
	<mat-drawer mwlResizable #sidenav role="directory" mode="side" position="start" [opened]="navOpen" fixedTopGap="0"
		fixedBottomGap="0" styles="box-sizing: border-box;" [enableGhostResize]="false"
		[resizeEdges]="{ bottom: false, right: true, top: false, left: false }" [ngStyle]="contentDrawerStyles"
		(resizing)="onResizseContentDrawer($event)" (resizeEnd)="onResizseContentDrawer($event)">
		<mat-selection-list [multiple]=" false" style="padding-top: 0; padding-bottom: 0; min-width: 264px;">
			<mat-list-option value="1" selected="true">Eine Strasse 13, 2121 Ein Ort</mat-list-option>
			<mat-list-option value="2" selected="false">No a Strass, 0101 A Hirsch</mat-list-option>
			<mat-divider></mat-divider>
			<mat-list-option value="x">
				<div style="display: flex; align-items: center;">
					<button mat-mini-fab color="primary">
						<mat-icon>add</mat-icon>
					</button>
					<div style="margin-left: 5px;">Neues Projekt</div>
				</div>
			</mat-list-option>
		</mat-selection-list>
	</mat-drawer>

	<mat-drawer-content [ngStyle]="contentDrawerContentStyles">
		<div>
			<mat-card>
				<mat-card-header>
					<!-- <div mat-card-avatar style="background-image: url('https://static.bkw.ch/bf-engine/1.x.x/themes/bkw/icon.svg');"></div> -->
					<mat-card-title>Projekt</mat-card-title>
					<mat-card-subtitle>Übersicht</mat-card-subtitle>
					<img src="https://static.bkw.ch/bf-engine/1.x.x/themes/bkw/icon.svg" />
				</mat-card-header>
				<!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
					alt="Photo of a Shiba Inu"> -->
				<mat-card-content>
					<p>
						<mat-form-field disabled appearance="outline" style="width: 300px; height: fit-content;">
							<mat-label>Standort</mat-label>
							<textarea disabled matInput value="Eine Strasse 13
2121 Ein Ort"></textarea>
						</mat-form-field>
						<mat-form-field disabled appearance="outline" style="width: 300px; margin-left: 10px;">
							<mat-label>Gebäudeart</mat-label>
							<input disabled matInput type="text" value="MFG" />
						</mat-form-field>
					</p>
					<p>
						<mat-form-field disabled appearance="outline" style="width: 300px; ">
							<mat-label>Gemeinde</mat-label>
							<input disabled matInput type="text" value="Eine Gemeinde" />
						</mat-form-field>
						<mat-form-field disabled appearance="outline" style="width: 100px; margin-left: 10px; ">
							<mat-label>Parzelle-Nr.</mat-label>
							<input disabled matInput type="text" value="1212" />
						</mat-form-field>
						<!-- <mat-form-field disabled appearance="outline" style="width: 300px; ">
							 <mat-label>Versicherungs-Nr.</mat-label>
							 <input matInput type="text" value="1212" />
						</mat-form-field> -->
					</p>
					<!-- <p>
					</p> -->
				</mat-card-content>
				<mat-card-actions>
					<button mat-icon-button color="primary" (click)="openProjektDialog()">
						<mat-icon>menu</mat-icon>
					</button>
				</mat-card-actions>
			</mat-card>
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

				<ng-container matColumnDef="Anlage">
					<th mat-header-cell *matHeaderCellDef width="200px">
						<button mat-icon-button class="addButton">
							<mat-icon>add_circle</mat-icon>
						</button>
						Anlage
					</th>
					<td mat-cell *matCellDef="let e">
						<div style="display: flex;">
							<button mat-icon-button color="primary"(click)="openAnlagetDialog()">
								<mat-icon>menu</mat-icon>
							</button>
							<div style="margin-left: 10px;">{{e.gebTeil + ", " + e.nutzung}}</div>
						</div>
					</td>
				</ng-container>


				<ng-container matColumnDef="TAG">
					<th mat-header-cell *matHeaderCellDef class="formHeader"> TAG </th>
					<td mat-cell *matCellDef="let e">
						<button mat-icon-button class="hasButton" *ngIf="e.tag" routerLink="/formular1">
							<mat-icon>texture</mat-icon>
						</button>
						<button mat-icon-button class="addButton" *ngIf="!e.tag">
							<mat-icon>add_circle</mat-icon>
						</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="IA">
					<th mat-header-cell *matHeaderCellDef class="formHeader"> IA </th>
					<td mat-cell *matCellDef="let e">
						<button mat-icon-button class="hasButton" *ngIf="e.ia" routerLink="/formular1">
							<mat-icon>texture</mat-icon>
						</button>
						<button mat-icon-button class="addButton" *ngIf="!e.ia">
							<mat-icon>add_circle</mat-icon>
						</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="AB">
					<th mat-header-cell *matHeaderCellDef class="formHeader"> AB </th>
					<td mat-cell *matCellDef="let e">
						<button mat-icon-button class="hasButton" *ngIf="e.ab" routerLink="/formular1">
							<mat-icon>texture</mat-icon>
						</button>
						<button mat-icon-button class="addButton" *ngIf="!e.ab">
							<mat-icon>add_circle</mat-icon>
						</button>
					</td>
				</ng-container>

				<ng-container matColumnDef="SiNa">
					<th mat-header-cell *matHeaderCellDef class="formHeader"> SiNa </th>
					<td mat-cell *matCellDef="let e">
						<button mat-icon-button class="hasButton" *ngIf="e.sina" routerLink="/formular1">
							<mat-icon>texture</mat-icon>
						</button>
						<button mat-icon-button class="addButton" *ngIf="!e.sina">
							<mat-icon>add_circle</mat-icon>
						</button>
					</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			</table>

		</div>
	</mat-drawer-content>

</mat-drawer-container>
