<div class="pt-1">
    <mat-accordion class="pt-4">
        <mat-expansion-panel showToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Object list
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            <app-objs-list [objects]="objects" (selected)="onSelectList($event)"></app-objs-list>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Object tree 1</mat-panel-title>
            </mat-expansion-panel-header>
            <mat-accordion>
                <app-objs-exp-panel [objTree]='objTree' (selected)="onSelect($event)"></app-objs-exp-panel>
            </mat-accordion>
        </mat-expansion-panel>
        <mat-expansion-panel [expanded]="true">
            <mat-expansion-panel-header>
                <mat-panel-title>Object tree 2</mat-panel-title>
            </mat-expansion-panel-header>
            <app-objs-node *ngFor="let n of objTree" [node]="n" (selected)="onSelect($event)"></app-objs-node>
        </mat-expansion-panel>
    </mat-accordion>
    <app-obj-detail [selectedNode]='selectedNode'></app-obj-detail>
</div>