@import "~@angular/material/theming";
$primaryPalette: mat-palette($mat-indigo);
$accentPalette:  mat-palette($mat-pink, A200, A100, A400);

// the default warn palette is red, so use that if the theme doesn't define one
$warnPalette:    mat-palette($mat-red);
// .mat-card{
//     width: 40%;
//     min-width: 300px;
//     max-width: 400px;
//     margin: 10px;
//     margin-right: 0;
// }
.menu-spacer {
	flex: 1 1 auto;
}

.auftragsart {
	color: mat-color($primaryPalette);
}

.card-style{
	width: 90%;
    min-width: 300px;
    max-width: 1000px;
    margin: 10px;
    margin-right: 0;
}
.head1{
	background-color: lightgray;
}
.grid1{
	// background-color: dimgray;
	// display: block !important;
	// text-align: left;
	// justify-content: left;
	border: 1px;
	border-style: solid;
	white-space: pre;
}
.grid2{
	// background-color: dimgray;
	text-align: left;
	white-space: pre;
	// border: 1px;
	// border-style: solid;
}
