@import '/src/styles.scss';

tr.mat-row{
  height: 2.4rem;
}

.vnbLogo{
  height: 1.3rem;;
}

.selected{
  background: $bgHovered;
}

tr.projekt-liste-row:hover {
  background: $bgHovered;
  cursor: pointer;
 }

//  tr.projekt-liste-row:active {
//   background: $bgSelected;
//   color: $fgSelected;
//  }
//  th.mat-header-cell:activ {
//    background: $bgSelected;
//   color: $fgSelected;
//  }

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

// td, th {
//   width: 25%;
// }


.align {
  display: flex;
  // flex-wrap: nowrap;
  align-items: center;
  // vertical-align: middle;
  // align-content: center;
  justify-content: center;
}

.status{
  min-width: 4rem;
  margin: 0.35rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
  // border: darkblue;
  // border-width: 1px;
  border-radius: 0.5rem;
  // border-style: solid;
  // white-space: pre;
}
