<mat-expansion-panel #anlage_daten [expanded]="true" class="mat-elevation-z8" style="margin-top: 2rem;">
  <mat-expansion-panel-header>Anlagen</mat-expansion-panel-header>
  <mat-selection-list *ngIf="false" [multiple]=" false"
    style="padding-top: 0; padding-bottom: 0; min-width:12rem ; max-width: 16rem;">
    <mat-list-option *ngFor="let a of aktuellesProjekt.anlagen">
      <div>{{a.gebaeudeteil}}, {{a.gebaeudenutzung}}</div>
    </mat-list-option>
    <mat-list-option>
      <div>
        <button mat-mini-fab color="primary">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </mat-list-option>
  </mat-selection-list>
  <mat-accordion *ngIf="true" [multi]="false">
    <mat-expansion-panel *ngFor="let a of aktuellesProjekt.anlagen" [expanded]="false">
      <mat-expansion-panel-header (click)="aktuelleAnlage = a; editAnlage=false;">
        <div>
        <button mat-icon-button color="primary" (click)="openAnlageDetail(a)">
          <mat-icon>menu</mat-icon>
        </button>
        <span>{{a.gebaeudeteil}}, {{a.gebaeudenutzung}}</span>
        </div>
      </mat-expansion-panel-header>
      <div>
        <p>
          <mat-form-field appearance="outline" style="width: 18rem;">
            <mat-label>Gebäudeteil</mat-label>
            <input [disabled]="!editAnlage" matInput type="text" value="{{a.gebaeudeteil}}" />
          </mat-form-field>
          <button *ngIf="!editAnlage" mat-icon-button class="editButton" (click)="editAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <p>
          <mat-form-field appearance="outline" style="width: 18rem;">
            <mat-label>Nutzung</mat-label>
            <input [disabled]="!editAnlage" matInput type="text" value="{{a.gebaeudenutzung}}" />
          </mat-form-field>
          <button *ngIf="!editAnlage" mat-icon-button class="editButton" (click)="editAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <p>
          <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
            <mat-label>ZählerNr. 1</mat-label>
            <input [disabled]="!editAnlage" matInput type="text" value="{{a.zaehlerNr}}" />
          </mat-form-field>
          <mat-form-field appearance="outline" style="width: 9rem;">
            <mat-label>ZählerNr. 2</mat-label>
            <input [disabled]="!editAnlage" matInput type="text" value="{{a.zaehlerNr2}}" />
          </mat-form-field>
          <button *ngIf="!editAnlage" mat-icon-button class="editButton" (click)="editAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <p>
          <mat-form-field appearance="outline" style="width: 9rem; margin-right: 0.5rem;">
            <mat-label>RapportNr.</mat-label>
            <input [disabled]="!editAnlage" matInput type="text" value="{{a.vnbMeldungsNr}}" />
          </mat-form-field>
          <button *ngIf="!editAnlage" mat-icon-button class="editButton" (click)="editAnlage=true">
            <mat-icon>edit</mat-icon>
          </button>
        </p>
        <mat-toolbar *ngIf="editAnlage">
          <span class="menu-spacer"></span>
          <button mat-icon-button (click)="editAnlage=false">
            <mat-icon>save</mat-icon>
          </button>
          <button mat-icon-button (click)="editAnlage=false">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-toolbar>
         </div>
    </mat-expansion-panel>
  </mat-accordion>
</mat-expansion-panel>
