<mat-toolbar-row >
   <button mat-icon-button  (click)="sidenav.toggle()">
		<mat-icon>menu</mat-icon>
	 </button>
	  <span>ElektroForm Projekte</span>
	<span class="menu-spacer"></span>
</mat-toolbar-row>
<mat-drawer-container style="height: 100%;">
    <mat-drawer mwlResizable #sidenav role="directory" mode="side" position="start" [opened]="navOpen" fixedTopGap="0" fixedBottomGap="0" styles="box-sizing: border-box;" [enableGhostResize]="false" [resizeEdges]="{ bottom: false, right: true, top: false, left: false }"
        [ngStyle]="contentDrawerStyles" (resizing)="onResizseContentDrawer($event)" (resizeEnd)="onResizseContentDrawer($event)">
        <mat-selection-list [multiple]=" false" style="padding-top: 0; padding-bottom: 0; min-width: 264px;">
            <mat-list-option value="1" selected="true">Eine Strasse 13, 2121 Ein Ort</mat-list-option>
            <mat-list-option value="2" selected="false">No a Strass, 0101 A Hirsch</mat-list-option>
            <mat-divider></mat-divider>
            <mat-list-option value="x">
                <div style="display: flex; align-items: center;">
                    <button mat-mini-fab color="primary">
						<mat-icon>add</mat-icon>
					</button>
                    <div style="margin-left: 5px;">Neues Projekt</div>
                </div>
            </mat-list-option>
        </mat-selection-list>
    </mat-drawer>

    <mat-drawer-content [ngStyle]="contentDrawerContentStyles">
        <div *ngIf="true" style="height: 100%;">
            <mat-drawer-container style="height: 100%;">
                <mat-drawer-content>
                    <!-- <div style="width: 768px;"> -->
							  <!-- <div> -->
                        <mat-accordion [multi]="true">
                            <mat-expansion-panel id="ProjektDaten" [expanded]="true">
										  <mat-expansion-panel-header>
												<!-- <button mat-mini-fab #sidenav_toggler color="primary" style="margin-right: 10px;">
													<mat-icon *ngIf="true===sidenav.opened" (click)="sidenav.toggle()">chevron_left</mat-icon>
													<mat-icon *ngIf="false===sidenav.opened" (click)="sidenav.toggle()">chevron_right</mat-icon>
												</button> -->
												Projekt-Daten
										  </mat-expansion-panel-header>
                                <p>
                                    <mat-form-field appearance="outline" style="width: 300px; height: fit-content;">
                                        <mat-label>Standort</mat-label>
                                        <textarea matInput value="Eine Strasse 13
2121 Ein Ort"></textarea>
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field appearance="outline" style="width: 300px; ">
                                        <mat-label>Gemeinde</mat-label>
                                        <input matInput type="text" value="Eine Gemeinde" />
                                    </mat-form-field>
                                    <mat-form-field appearance="outline" style="width: 100px; margin-left: 2px; ">
                                        <mat-label>Parzelle</mat-label>
                                        <input matInput type="text" value="1212" />
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field appearance="outline" style="width: 300px; ">
                                        <mat-label>Versicherungs-Nr.</mat-label>
                                        <input matInput type="text" value="1212" />
                                    </mat-form-field>
                                </p>
                                <p>
                                    <mat-form-field appearance="outline" style="width: 300px; ">
                                        <mat-label>Gebäudeart</mat-label>
                                        <input matInput type="text" value="MFG" />
                                    </mat-form-field>
                                </p>
                            </mat-expansion-panel>
									<mat-expansion-panel id="Anlagen" [expanded]="true">
										<mat-expansion-panel-header>Anlagen</mat-expansion-panel-header>
										<mat-toolbar>
											<mat-toolbar-row >
												<mat-menu></mat-menu>
												<span>Liste der Anlagen</span>
												<span class="menu-spacer"></span>
												<b>
												<button mat-mini-fab color="primary" style="margin-left: 10px;">
													<mat-icon>add</mat-icon>
												</button>
												<button mat-mini-fab color="primary" style="margin-left: 10px;">
													<mat-icon>content_copy</mat-icon>
												</button>
												<button mat-mini-fab color="primary" style="margin-left: 10px;">
													<mat-icon>delete</mat-icon>
												</button>
												<button mat-mini-fab color="primary" style="margin-left: 10px;" (click)="allExpanded = !allExpanded;">
													<mat-icon *ngIf="true===allExpanded">expand_less</mat-icon>
													<mat-icon *ngIf="false===allExpanded">expand_more</mat-icon>
												</button>
											</b>
											</mat-toolbar-row>
										</mat-toolbar><mat-accordion [multi]="true">
											<mat-expansion-panel *ngFor="let anl of anlagen"  [expanded]="allExpanded">
												<mat-expansion-panel-header>{{anl}}</mat-expansion-panel-header>
												<div style="display: flex; align-items: center;">
													<mat-form-field appearance="outline" style="width: 200; ">
														<mat-label>Gebäudeteil</mat-label>
														<input matInput type="text" value="{{anl}}" />
													</mat-form-field>
													<!-- <mat-form-field> -->
													<mat-chip-list #chipList style="margin-left: 10px; height: 100%;">
														<mat-chip *ngFor="let formularTyp of formularTypen"
															(removed)="addFormular(formularTyp)">
															{{formularTyp.name}}
															<mat-icon matChipTrailingIcon *ngIf="true===formularTyp.creatable" (click)="addFormular(formularTyp)"
																color="primary">
																add_circle</mat-icon>
															<mat-icon matChipTrailingIcon *ngIf="false===formularTyp.creatable" routerLink="/formular1"
																color="primary">
																build_circle</mat-icon>
															<mat-icon matChipTrailingIcon *ngIf="true === formularTyp.deletable"
																(click)="deleteFormular(formularTyp)" color="primary">
																remove_circle</mat-icon>
														</mat-chip>
														<input style="width: 80;"
														placeholder="Neues Formular..."
														#fruitInput
														[formControl]="fruitCtrl"
														[matAutocomplete]="auto"
														[matChipInputFor]="chipList"
														[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
														(matChipInputTokenEnd)="add($event)">
													</mat-chip-list>
													<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
														<mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
														  {{fruit}}
														</mat-option>
													 </mat-autocomplete>
													<!-- </mat-form-field> -->
																								  </div>
											</mat-expansion-panel>
										</mat-accordion>
										</mat-expansion-panel>

										</mat-accordion>
                        <!-- <br /> -->
                    <!-- </div> -->

                </mat-drawer-content>

            </mat-drawer-container>
        </div>
    </mat-drawer-content>

</mat-drawer-container>

