@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
// @import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
// @import '~@angular/material/prebuilt-themes/purple-green.css';
@import '~@angular/material/theming';
@include mat-core();
$light-app-theme: mat-light-theme(( color: ( primary: mat-palette($mat-indigo), accent: mat-palette($mat-pink, A200, A100, A400), warn: mat-palette($mat-red), )));
// Define an alternate dark theme.
$dark-app-theme: mat-dark-theme(( color: ( primary: mat-palette($mat-cyan), accent: mat-palette($mat-blue-gray, A200, A100, A400), warn: mat-palette($mat-amber), )));
@mixin theme-colors($theme) {
    $_background: map-get($theme, background);
    $_foreground: map-get($theme, foreground);
    $_primary: map-get($theme, primary);
    $background-color: mat-color($_background, background);
    $foreground-color: mat-color($_foreground, text);
    $primary-color: mat-color($_primary);
    --app-background-color: #{$background-color};
    --app-background-dark-color: #{darken($background-color, 10%)};
    --app-foreground-color: #{$foreground-color};
    --app-primary-color: #{$primary-color};
}

:root {
    @include angular-material-color($light-app-theme);
    @include theme-colors($light-app-theme);
}

.dark-theme {
    @include angular-material-color($dark-app-theme);
    @include theme-colors($dark-app-theme);
}

body {
    background-color: var(--app-background-color);
}

.m-1 {
    margin: 1em;
}

.m-2 {
    margin: 2em;
}

.m-4 {
    margin: 4m;
}

.mt-1 {
    margin-top: 1em;
}

.mt-2 {
    margin-top: 2em;
}

.mt-4 {
    margin-top: 4em;
}

.p-1 {
    padding: 1em;
}

.p-2 {
    padding: 2em;
}

.p-4 {
    padding: 4m;
}

.pt-1 {
    padding-top: 1em;
}

.pt-2 {
    padding-top: 2em;
}

.pt-4 {
    padding-top: 4em;
}