// @import '../../../styles.scss';
.node {
    padding: auto;
}

.selected {
    transition: all linear 0.7s;
    background-color: gray;
}

.slectable:hover {
    background-color: lightgrey;
    cursor: pointer;
}