// @import '../../../styles.scss';
.selected {
    // color: white;
    // transition: all linear 1s;
    background-color: gray;
}

.node {
    padding: auto;
}

.slectable:hover {
    background-color: lightgrey;
    cursor: pointer;
}