<div #das_ganze class="alles">
  <div class="theme rand-innen">
    <mat-card class="mat-elevation-z8">
      <mat-card-header>
        <mat-card-title>Projekt-Details</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Projekte</span>
          <button mat-icon-button routerLink="/projektliste4//{{filter}}">
            <mat-icon>arrow_circle_up</mat-icon>
          </button>
          <span>Projekt-Liste</span>
          <span class="menu-spacer"></span>
        </mat-toolbar-row>
        <mat-drawer-container style="height: 100%;">
          <mat-drawer mwlResizable #sidenav role="directory" mode="side" position="start"
            [opened]="navOpen && das_ganze.offsetWidth > 1000" fixedTopGap="0" fixedBottomGap="0"
            style="box-sizing: border-box; overflow-y: unset;" [enableGhostResize]="false"
            [resizeEdges]="{ bottom: false, right: true, top: false, left: false }" [ngStyle]="contentDrawerStyles"
            (resizing)="onResizseContentDrawer($event)" (resizeEnd)="onResizseContentDrawer($event)">
            <mat-selection-list [multiple]="false"
              style="padding-top: 0; padding-bottom: 0; min-width: 264px; overflow-y: unset;"
              style="padding-top: 0; padding-bottom: 0; min-width: 264px; overflow-y: unset;">
              <mat-list-option *ngFor="let p of gefilterteProjekte" style="overflow-y: unset;"
                (click)="aktuellesProjekt = p; editProjekt=false" [ngClass]="{'itmSelect' : aktuellesProjekt===p}">
                {{p.titel}}
              </mat-list-option>
              <mat-divider></mat-divider>
              <mat-list-option>
                <div>
                  <button mat-mini-fab color="primary">
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-list-option>
            </mat-selection-list>
          </mat-drawer>
          <mat-drawer-content [ngStyle]="contentDrawerContentStyles">
            <div class="content rand-innen">
              <mat-accordion [multi]="true">
                <projekt-daten [aktuellesProjekt]="aktuellesProjekt"></projekt-daten>
                <projekt-anlage-daten [aktuellesProjekt]="aktuellesProjekt"></projekt-anlage-daten>
              </mat-accordion>
            </div>
          </mat-drawer-content>

        </mat-drawer-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>
